/* main navbar */
#main-nav .social {
    display: none;
}

#main-nav .container {
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}

#main-nav ul {
    justify-self: center;
}

#main-nav .logo {
    justify-self: center;
}

#main-nav ul li, 
#main-nav .logo {
    padding: 0.5rem;
}

#home-articles .container .article-container{
    grid-template-columns: repeat(2, 1fr);
}

#home-articles .container .article-container > *:first-child {
    grid-template-columns: 1fr;
    grid-column: 1;
}

#home-articles .container .article-container > *:last-child {
    grid-template-columns: 1fr;
    grid-column: 1;
}
@media(max-width:600px) {
    /* stack grid items */
    #showcase .showcase-container,
    #home-articles .container .article-container, 
    #main-footer .footer-container {
        grid-template-columns: 1fr;
    
    }
    #main-footer .footer-container > *:last-child{
        grid-column: 1;
    }

    #main-footer .footer-container > *:first-child, 
    #main-footer .footer-container > *:nth-child(2) {
        border-bottom: #555 solid 1px;
        padding-bottom: 1rem;
    }

    #page-container{
        grid-template-columns: 1fr;
    }

    .page-container > *:first-child {
        grid-template-columns: 1;
    }
}